*{
    margin: 0;
    padding: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

.head{
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    color:rgba(235, 235, 235,0.85);
    list-style-type: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head li{
    padding:0px 12px
}
    

.logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
    gap: 10px;
    color: rgb(213, 211, 208);
}


.logo img{
    height: 50px;
    border-radius: 50%;

    background-position: center;
    background-size:cover;
}

body{
    height: 95vh;
    width:100%;
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 100px;

}
.container{
    position: relative;
    height: 20vw;
    width: 20vw;
    background:url('clock.png');
    background-repeat: no-repeat;
    background-size: cover;
  
    
    gap: 0px;

}
#hour,#minute,#second{
    position:absolute;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
}
#hour{
    
    left:9.75vw;
    top:4.3vw;
    height:5.7vw;
    width: 0.45vw;
    background-color: rgb(145, 61, 61);
  
   
}
#second{
    
    left:9.75vw;
    top:2.3vw;
    height:7.7vw;
    width: 0.27vw;
    background-color: aqua;
    

}
#minute{
    left:9.75vw;
    top:3.3vw;
    height:6.7vw;
    width: 0.30vw;
   background-color: orange;
}
#center{
    position: absolute;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    background-color: rgb(227, 0, 0);
    left:9.48vw;
    top:9.49vw;

}